.mar{
   padding-left: 200px;
}






nav a {
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;

}

nav{
    position: absolute;
    top: ;
    right: ;
}

.caixa{
     width: 940px;
}


h2{
  
  
}

#banner{
  
}
